.hd-mobile{
	position: fixed;
	top: 0;
	height: 90px;
	left: 0;
	width: 100%;
	background-color: $color-1;
	z-index: 100;
	display: flex;
	align-items: center;
	img{
		margin: auto;
	}
	@include screen-md-min {display: none;}
}
.header-main{
	.logo-hd{
		margin: 40px auto;
		display: block;
		@include screen-md-max {
			display: none;
		}
	}
	position: fixed;
	width: 250px;
	left: 0;
	top: 0;
	height: 100%;
	background-color: $color-1;
	z-index: 100;
	@include screen-md-max {
		left: 0;
		top: 0;
		width: 100%;
		transition: .2s ease-in-out all;
		transform: translateY(-10px);
		opacity: 0;
		visibility: hidden;
		border-top: 2px solid transparentize($color-black,0.9);
		overflow: scroll;
		&.in {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			top: 90px;
		}
	}
	nav{
		padding: 30px;
		@include screen-md-max {
			padding-bottom: 150px;
		}
		ul{
			@include screen-md-max {
				text-align: center;
			}
			li{
				padding: 15px 0;
				a{
					font-size: 16px;
					color: $color-2;
				}
				ul{
					padding-top: 0;
					display: none;
					li{
						padding: 0;
						a{
							font-size: 13px;
							padding-left: 15px;
							position: relative;
						}
						&.active{
							a{
								color: $color-3;
								&:before{
									content: '';
									position: absolute;
									width: 2px;
									height: 100%;
									left: 0;
									top: 0;
									background-color: $color-3;
									border-radius: 100px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.menu-item-has-children {
	position: relative;
	&:after {
		font-family: $font-icon;
		content: '\f078';
		font-size: 9px;
		color: $color-3;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 17px;
		transition: all 0.3s 0s cubic-bezier(0.7, 0, 0.3, 1);
		@include screen-md-max {}
	}
	&.show{
		&:after{
			transform: rotate(180deg);
		}
	}
}
