//
// Swiper overrides
// --------------------------------------------------//
// Navigation arrows
.swiper-button-prev,
.swiper-button-next {
	background:none;
	font-size:20px;
	height:20px;
}

// Pagination
.swiper-pagination {

	&.swp-outer {
		position:relative;
		text-align:left;
	}

	// Bullets
	&.swiper-pagination-bullets {
		span {
			width:8px;
			height:8px;
			margin:0 3px;

			border:1px solid $grey-light;
			background:$grey-light;

			opacity:1;

			transition:.4s ease-out all;

			&.swiper-pagination-bullet-active {
				border-color:$color-1;
				background:$color-1;
			}
		}
	}

	// Fraction number
	&.swiper-pagination-fraction {
		bottom:0;
	}
}



//
// Slides
// --------------------------------------------------//
