//
// Tabs
// --------------------------------------------------//
.nav.tabs-nav {
	text-align:center;
	border-bottom:1px solid $grey-light;
	margin-bottom:30px;

	li {
		display:inline-block;

		color:$grey-light;
		font-size:14px;
		text-transform:uppercase;
		letter-spacing:0.05em;

		padding-left:15px;
		padding-right:15px;

		a {
			display:inline-block;
			padding-bottom:15px;
			color:$color-1;
		}

		&.active a {color:$color-1;}
	}

	@include screen-xs-max {

		li {
			font-size:13px;

			padding-left:10px;
			padding-right:10px;
			a {
				padding-bottom:10px;
			}
		}

	}
}

.tabs-content {
	.tabs-single {
		display:none;
		&.active {
			display:block;
		}
	}
}