﻿@{
    ViewData["Title"] = "Storico offerta dipartimentale";
    ViewData["Edit"] = Context.Request.Query["editMode"];
}
<input type="hidden" id="agentcode" value="@Model.Codice_ACG" />

<!--<div class="pn-box">
    <div class="pn-box-head">
        @ViewData["Title"]
    </div>
    <div class="pn-box-body">
        <div class="form-body white" id="search">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sx-12">
                    <label for="cliente">Nome Cliente</label>
                    <input type="text" value="" name="cliente" id="autoComplete" class="form-control typeahead" />
                </div>
            </div>
        </div>
    </div>
    <div class="pn-box-footer">
        <a class="btn-semi-rounded submit" href="/archive/ListDetails?editMode=@ViewData["Edit"]" data-target="dlsord">Ricerca</a>
    </div>
</div>-->
<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-12">
                        <label>Nome cliente</label>
                        <input type="text" placeholder="Nome cliente" id="autoComplete" class="typeahead">
                    </div>
                    <a type="button" class="btn submit" href="/archive/ListDetails?editMode=@ViewData["Edit"]" data-target="dlsord">cerca</a>
                </div>
            </div>
        </div>
    </div>
</div>