﻿@{
    ViewData["Title"] = "Lista ordini";
    ViewData["Type"] = Context.Request.Query["type"];
    ViewData["Edit"] = Context.Request.Query["editMode"];


}
<input type="hidden" id="agentcode" value="@Model.Codice_ACG" />

<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-6">
                        <label>Codice prodotto</label>
                        <input type="text" placeholder="Inserisci codice" name="product" value="" id="product">
                    </div>
                    <div class="col-6">
                        <label>Nome cliente</label>
                        <input type="text" placeholder="Inserisci nome" value="" name="cliente" id="autoComplete" class="typeahead">
                    </div>
                    <div class="col-6">
                        <label>Data inizio</label>
                        <div id="myDatepicker" class="input-group date">
                            <input type="text">
                            <span class="input-group-addon">
                            </span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Data fine</label>
                        <div id="myDateEnd" class="input-group date">
                            <input type="text">
                            <span class="input-group-addon">
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label>ID ordine</label>
                        <input type="text" placeholder="Inserisci ID ordine" id="ord">
                    </div>
                    <div class="col-12 mt-20">
                        <a type="button" class="btn submit" href="/archive/ShowResultList?type=@ViewData["Type"]&editMode=@ViewData["Edit"]" data-target="lsord">cerca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>