﻿@using Microsoft.Extensions.Primitives;
@using Microtech_Core.Database.Models;

@model List<SelectResult>
@{

    ViewData["Title"] = "Storico listini";
}
@if (@Model != null)
{
    <div class="pn-box pn-box-special">
        <div class="pn-box-head" style="border-bottom: 0px;">
            <h6>Risultati ricerca listini</h6>
           
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="basicTable">
                <thead>
                    <tr>
                        <th style="12.5%">Codice cliente</th>
                        <th style="12.5%">Data</th>
                        <th style="12.5%">Nome cliente</th>
                        <th style="12.5%">Valore ordine</th>
                        <th style="12.5%">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var i in Model)
                    {
                        <tr>
                            <td>
                                @i.code
                            </td>
                            <td>
                                @i.date
                            </td>
                            <td>
                                @i.companyName
                            </td>
                            <td>
                                @i.value €
                            </td>
                            <td>
                                <a class="btn" href="/archive/listdetails?cli=@i.id">Dettaglio</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <div class="pn-box-footer" style="border-top: 0px"></div>
    </div>

}
else
{
    <p>Ordine non trovato</p>
}
