﻿@using Microsoft.AspNetCore.Http;
@using Microtech_Core.WebServices.Services.Misc.Utils;
@inject IHttpContextAccessor HttpContextAccessor;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ordine " + Context.Request.Query["ordId"];
}

<input type="hidden" id="agentcode" />

<script>
        var Model = @(Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("Logged")));
        console.log(Model);
        document.getElementById("agentcode").value = Model["Codice_ACG"];
</script>

<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-6">
                        <h4 style="color:#04446C">
                            @Model.causale
                        </h4>

                        <ul>
                            <li>ID Cliente: <span class="semi-bold" id="cliente" data-target="@Model.idCliente">@Model.ordini[0].codSped</span></li>
                            <li>Stato Ordine: <span class="semi-bold">@Model.getStatus()</span></li>
                            <li>Data Ordine: <span class="semi-bold">@Utils.getDate(Context.Request.Query["date"])</span></li>

                            @if (Model.causale.Contains("BA"))
                            {
                                <li>Saldo rimanente: <span class="semi-bold">@Decimal.Parse(Model.ordVal.Replace(".", ",").Replace("-", "")).ToString("#.00") €</span></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card-w">
                <h6 class="mb-30">Lista prodotti ordine</h6>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>ID prod.</th>
                            <th>Nome articolo</th>
                            <th>Quantità articolo</th>
                            <th>Importo articolo</th>
                            <th>Stato ordine</th>
                        </tr>
                        <tbody>
                            @foreach (var i in @Model.ordini)
                            {
                                <tr>
                                    <td>@i.sku</td>
                                    <td>@i.productName</td>
                                    <td>@i.ordQty</td>
                                    <td>@Decimal.Parse(i.ordVal.Replace(".", ",")).ToString("#.00") €</td>
                                    <td>@i.getStatus()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <div class="mt-30 text-r"><button class="btn" type="button"></button></div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="card card-transparent">
    <div class="card-header  ">
        <div class="card-title">
            <strong>@ViewData["Title"]</strong>
        </div>
    </div>
    <div class="pn-box mb-0">
        <div class="pn-box-head">
            <h4 style="color:#c5da61;">Dettaglio ordine</h4>
        </div>
        <div class="pn-box-body">
            <div class="m-0 row card-body">
                <div class="card-body">
                    <h5 class="text-white">
                        @Model.causale
                    </h5>

                    <div>
                        <ul>
                            <li>ID Cliente: <span class="semi-bold" id="cliente" data-target="@Model.idCliente">@Model.ordini[0].codSped</span></li>
                            <li>Stato Ordine: <span class="semi-bold">@Model.getStatus()</span></li>
                            <li>Data Ordine: <span class="semi-bold">@Utils.getDate(Context.Request.Query["date"])</span></li>

                            @if (Model.causale.Contains("BA"))
                            {
                                <li>Saldo rimanente: <span class="semi-bold">@Decimal.Parse(Model.ordVal.Replace(".", ",").Replace("-", "")).ToString("#.00") €</span></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <h5 class="text-white">Articoli ordinati</h5>

        </div>

    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID Articolo</th>
                <th>Nome articolo</th>
                <th>Quantità articolo</th>
                <th>Importo articolo</th>
                <th>Stato ordine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in @Model.ordini)
            {
                <tr>
                    <td>@i.sku</td>
                    <td>@i.productName</td>
                    <td>@i.ordQty</td>
                    <td>@Decimal.Parse(i.ordVal.Replace(".", ",")).ToString("#.00") €</td>
                    <td>@i.getStatus()</td>
                </tr>
            }
        </tbody>

    </table>
</div>-->
