﻿@*
    <script src="~/js/site.js"></script>
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Storico offerte dipartimentali ";
}
@if (@Model.Count > 0)
{

    <input type="hidden" id="clientCode" value="@Model[0].AS400_ID" />
    <input type="hidden" id="agentcode" value='@Context.Request.Query["agent"]' />
    <input type="hidden" id="agent" />
    <script>
        let Model = @(Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("Logged")));
        let stringed = JSON.stringify(Model);
        document.getElementById("agent").value = stringed;
    </script>


    <div class="row mt-60">
        <div class="col-12">
            <div class="card">
                <div class="body-card">
                    <div class="row">
                        <div class="col-6">
                            <h4 style="color:#04446C">Azioni listino</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a type="button" class="btn btn-sm submit pdf-list" href="#">Scarica PDF</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-60">
        <div class="col-12">
            <div class="card">
                <div class="body-card-w">
                    <h6 class="mb-30">Articoli ordinati</h6>
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>ID Articolo</th>
                                <th>Nome articolo</th>
                                <th>Importo articolo</th>
                                <th>Data inserimento articolo</th>
                            </tr>
                            <tbody>
                                @foreach (var @i in @Model)
                                {
                                    <tr>
                                        <td>@i.SKU</td>
                                        <td>@i.Name</td>
                                        <td>@i.Price €</td>
                                        <td>@i.GetDate().ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="card card-transparent">
        <div class="card-header  ">
            <div class="card-title">
                <strong id="title">@ViewData["Title"]</strong>
            </div>
        </div>
        <div class="pn-box mb-0">
            <div class="pn-box-head">
                <h4 style="color:#c5da61;">Dettaglio listino</h4>
            </div>
            <div class="pn-box-body">
                <div class="m-0 row card-body">
                    <div class="card-body">
                        <h5 class="text-white"></h5>
                        <div class="actions">
                            <a class="btn btn-rounded btn-primary m-b-10 pdf-list" href="#">PDF</a>
                        </div>
                    </div>
                </div>
                <h5 class="text-white">Articoli ordinati</h5>

            </div>

        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID Articolo</th>
                    <th>Nome articolo</th>
                    <th>Importo articolo</th>
                    <th>Data inserimento articolo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var @i in @Model)
                {
                    <tr>
                        <td>@i.SKU</td>
                        <td>@i.Name</td>
                        <td>@i.Price €</td>
                        <td>@i.GetDate().ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    -->
}
else
{
    <b>Listino non trovato.</b>
}
