﻿@using Microsoft.Extensions.Primitives;
@{

    ViewData["Title"] = "Storico ordini " + Model[0].customerCleanName;
    ViewData["Type"] = Context.Request.Query["type"];
    ViewData["Edit"] = Context.Request.Query["editMode"];


}
@if (@Model != null)
{
<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-12">
                        @if (StringValues.IsNullOrEmpty((StringValues)ViewData["Edit"]))
                        {
                            <h6>Scegli causale</h6>

                            <select onchange="filterByCausal()" id="causal">
                                <option value="null">Scegli causale</option>
                                <option value="BA">Conto a scalare</option>
                                <option value="OC">Ordini Clienti</option>
                            </select>
                        }
                        else
                        {
                            <input type="hidden" value='@ViewData["Type"]' id="type" />
                            <h6>Modifica ordine</h6>
                        }
                    </div>
                </div>
            </div>
                    <div class="row mt-30">
                        <div class="col-12">
                            <div class="card">
                                <div class="body-card-w">
                                    <h6 class="mb-30">Lista ordini</h6>
                                    <div class="table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    @if (!Context.Request.Query["product"].Any())
                                                    {
                                                        <th>stato</th>
                                                    }
                                                    <th>numero</th>
                                                    <th>data</th>
                                                    <th>codice cliente</th>
                                                    <th>causale</th>
                                                    <th>valore ordine</th>
                                                    @if (!Context.Request.Query["product"].Any())
                                                    {
                                                        <th style="12.5%">valore spedizione</th>
                                                    }
                                                    <th>azioni</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var i in @Model)
                                                {

                                                    @if ((i.desc.Contains("BA") || i.desc.Contains("OC") || i.desc == "") && i != null)
                                                    {
                                                        <tr>
                                                            @if (!Context.Request.Query["product"].Any())
                                                            {

                                                                @if (!i.desc.Contains("BA"))
                                                                {

                                                                    <td>@i.getStatus()</td>

                                                                }
                                                                else
                                                                {

                                                                    if (@Decimal.Parse(i.valueOrd.Replace('.', ',').Replace("-", "")) > 0)
                                                                    {

                                                                        <td>Conto aperto</td>

                                                                    }
                                                                    else
                                                                    {
                                                                        <td>Conto chiuso</td>
                                                                    }
                                                                }
                                                            }


                                                            <td>@i.ordNum</td>
                                                            <td>@i.getDate()</td>
                                                            <td>@i.customerSped</td>
                                                            <td>

                                                                @if (!Context.Request.Query["product"].Any() && i.desc != "")
                                                                {
                                                                    @i.desc.Substring(0, 2)
                                                                }
                                                            </td>
                                                            @if (Context.Request.Query["product"].Any())
                                                            {
                                                                if (!i.desc.Contains("BA") && i.shipValue != null)
                                                                {

                                                                    <td>@Decimal.Parse(i.shipValue.Replace('.', ',')).ToString("#.00") €</td>

                                                                }
                                                                else
                                                                {
                                                                    if (i.valueOrd != null)
                                                                    {

                                                                        <td>@Decimal.Parse(i.valueOrd.Replace('.', ',')).ToString("#.00") €</td>

                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }

                                                                }

                                                            }
                                                            else
                                                            {

                                                                if (!i.desc.Contains("BA"))
                                                                {
                                                                    <td>@i.valueOrd €</td>
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                }

                                                            }

                                                            @if (!Context.Request.Query["product"].Any())
                                                            {
                                                                if (!i.desc.Contains("BA") || i.desc == "")
                                                                {

                                                                    @if ((@i.ordStatus == 0 || @i.ordStatus == 1))
                                                                    {
                                                                        <td>@i.shipValue €</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@i.deliveredValue €</td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                }

                                                            }
                                                            <td>
                                                                <div class="dropdown dropdown-default">
                                                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Azioni
                                                                    </button>
                                                                    <div class="dropdown-menu" style="width: 91.3438px; position: absolute; transform: translate3d(0px, -169px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="top-start">
                                                                        @if (StringValues.IsNullOrEmpty((StringValues)ViewData["Edit"]))
                                                                        {<a class="dropdown-item" href="/Archive/ShowResultOrder?pre=ALL&ordId=@i.ordNum&date=@i.ordDate">Dettagli</a>}
                                                                        @if (i.desc.Contains("BA ") && !StringValues.IsNullOrEmpty((StringValues)ViewData["Edit"]))
                                                                        {<a class="dropdown-item" href="/List/Crea?type=@ViewData["Type"]&ordId=@i.ordNum&editMode=true&ordCli=@Context.Request.Query["cli"]&pre=ALL&date=@i.ordDate">Modifica</a>}
                                                                        @if (i.VenDocs.Count > 0)
                                                                        {
                                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-@i.ordNum">Documenti</a>

                                                                        }
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    <!--
                    <div class="pn-box pn-box-special">
                        <div class="pn-box-head" style="border-bottom: 0px;">
                            <h6>Risultati ricerca ordini</h6>
                            @if (StringValues.IsNullOrEmpty((StringValues)ViewData["Edit"]))
                            {
                                <select class="form-control" onchange="filterByCausal()" id="causal">
                                    <option value="null">Scegli causale</option>
                                    <option value="BA">Conto a scalare</option>
                                    <option value="OC">Ordini Clienti</option>

                                </select>
                            }
                            else
                            {
                                <input type="hidden" value='@ViewData["Type"]' id="type" />
                            }
                            <ul style="padding-top: 15px">
                                <li>Nome cliente: <strong>@Model[0].customerName</strong></li>
                            </ul>
                        </div>
                        <div>
                            <table class="table table-hover" id="basicTable">
                                <thead>
                                    <tr>
                                        @if (!Context.Request.Query["product"].Any())
                                        {
                                            <th style="12.5%">Stato</th>
                                        }
                                        <th style="12.5%">Numero</th>
                                        <th style="12.5%">Data</th>
                                        <th style="12.5%">Codice cliente</th>
                                        <th style="12.5%">Descrizione vendita</th>
                                        <th style="12.5%">Valore ordine</th>
                                        @if (!Context.Request.Query["product"].Any())
                                        {
                                            <th style="12.5%">Valore spedizione</th>}
                                        <th style="12.5%">Azioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in @Model)
                                    {
                                        // @if (Decimal.Parse(i.valueOrd.Replace('.', ',')) > 0.1M)
                                        // {

                                        @if ((i.desc.Contains("BA") || i.desc.Contains("OC") || i.desc == "") && i != null)
                                        {
                                            <tr>

                                                @if (!Context.Request.Query["product"].Any())
                                                {
                                                    @if (!i.desc.Contains("BA"))
                                                    {
                                                        <td>@i.getStatus()</td>
                                                    }
                                                    else
                                                    {
                                                        if (@Decimal.Parse(i.valueOrd.Replace('.', ',').Replace("-", "")) > 0)
                                                        {
                                                            <td>Conto aperto</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Conto chiuso</td>
                                                        }
                                                    }
                                                }
                                                <td>@i.ordNum</td>
                                                <td>@i.getDate()</td>
                                                <td>@i.customerSped</td>
                                                <td>
                                                    @if (!Context.Request.Query["product"].Any() && i.desc != "")
                                                    {@i.desc.Substring(0, 2)}
                                                </td>
                                                @if (Context.Request.Query["product"].Any())
                                                {
                                                    if (!i.desc.Contains("BA") && i.shipValue != null)
                                                    {
                                                        <td>@Decimal.Parse(i.shipValue.Replace('.', ',')).ToString("#.00") €</td>
                                                    }
                                                    else
                                                    {
                                                        if (i.valueOrd != null)
                                                        {
                                                            <td>@Decimal.Parse(i.valueOrd.Replace('.', ',')).ToString("#.00") €</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }

                                                    }

                                                }
                                                else
                                                {
                                                    if (!i.desc.Contains("BA"))
                                                    {
                                                        <td>@i.valueOrd €</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }

                                                }

                                                @if (!Context.Request.Query["product"].Any())
                                                {
                                                    if (!i.desc.Contains("BA") || i.desc == "")
                                                    {
                                                        @if ((@i.ordStatus == 0 || @i.ordStatus == 1))
                                                        {
                                                            <td>@i.shipValue €</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@i.deliveredValue €</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }

                                                }

                                                <td>
                                                    <div class="dropdown dropdown-default">
                                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Azioni
                                                        </button>
                                                        <div class="dropdown-menu" style="width: 91.3438px; position: absolute; transform: translate3d(0px, -169px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="top-start">
                                                            @if (StringValues.IsNullOrEmpty((StringValues)ViewData["Edit"]))
                                                            {<a class="dropdown-item" href="/Archive/ShowResultOrder?pre=ALL&ordId=@i.ordNum&date=@i.ordDate">Dettagli</a>}
                                                            @if (i.desc.Contains("BA ") && !StringValues.IsNullOrEmpty((StringValues)ViewData["Edit"]))
                                                            {<a class="dropdown-item" href="/List/Crea?type=@ViewData["Type"]&ordId=@i.ordNum&editMode=true&ordCli=@Context.Request.Query["cli"]&pre=ALL&date=@i.ordDate">Modifica</a>}
                                                            @if (i.VenDocs.Count > 0)
                                                            {
                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-@i.ordNum">Documenti</a>

                                                            }
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>

                                            // }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        @foreach (var i in @Model)
                        {
                            <div class="modal fade slide-up" id="modal-@i.ordNum" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
                                <div class="modal-dialog ">
                                    <div class="modal-content-wrapper">
                                        <div class="modal-content">
                                            <div class="modal-header clearfix text-left">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <i class="pg-close fs-14"></i>
                                                </button>
                                                <h5>Documenti di vendita <span class="semi-bold">@i.ordNum</span></h5>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>ID Documento</th>
                                                            <th>Data</th>
                                                            <th>Tipo documento</th>
                                                            <th>Valore ordine</th>
                                                            <th>Azioni</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color:#04446C ">
                                                        @foreach (var d in i.VenDocs)
                                                        {
                                                            if (d.getDate(d.delDate) != null && d.getDate(d.invDate) != null)
                                                            {
                                                                <tr>
                                                                    <td>@d.delNumber</td>
                                                                    @if (d.delDate != "00000000")
                                                                    {
                                                                        <td>@d.getDate(d.delDate)</td>
                                                                    }
                                                                    <td>Bolla spedizione</td>
                                                                    <td>@d.value</td>
                                                                    <td><a class="btn docDetail" href="/archive/ShowVenDetail?doc=@d.number&aad=@d.getDate(d.delDate).Split('/')[2]" data-target="detail" data-doc="@d.number" data-aad="@d.getDate(d.delDate).Split('/')[2]" target="_blank">Dettaglio</a></td>
                                                                </tr>
                                                                @if (d.invDate != "00000000")
                                                                {
                                                                    <tr>
                                                                        <td>@d.invNumber</td>
                                                                        <td>@d.getDate(d.invDate)</td>
                                                                        <td>Fattura</td>
                                                                        <td>@d.value</td>
                                                                        <td><a class="btn docDetail" href="/archive/ShowVenDetail?doc=@d.number&aad=@d.getDate(d.delDate).Split('/')[2]" data-target="detail" data-doc="@d.number" data-aad="@d.getDate(d.invDate).Split('/')[2]" target="_blank">Dettaglio</a></td>
                                                                    </tr>
                                                                }
                                                            }

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="pn-box-footer" style="border-top: 0px"></div>
                    </div>-->
                    }
                    else
                    {
                    <p>Ordine non trovato</p>
                    }
