﻿@using Microtech_Core.WebServices.Services.Pojo;
@model List<GetVen>
@{
    ViewData["Title"] = "Documento di vendita " + Model.FirstOrDefault().id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-transparent">
    <div class="pn-box mb-0">
        <div class="pn-box-head">
            <h4 style="color:#c5da61;">Dettaglio documento</h4>
        </div>
        <div class="pn-box-body">
            <div class="m-0 row card-body">
                <div class="card-body">
                    <h5 class="text-white">
                        @ViewData["Title"]
                    </h5>

                    <div>
                        <ul>
                            <li>Nome cliente: <b class="semi-bold">@Model.FirstOrDefault().customer</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h5 class="text-white">Articoli ordinati</h5>

        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Codice articolo</th>
                    <th>Nome articolo</th>
                    <th>Data spedizione</th>
                    <th>Importo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in @Model)
                {
                    <tr>
                        <td>@i.sku</td>
                        <td>@i.name</td>
                        <td>@i.date</td>
                        <td>@Decimal.Parse(i.price.Replace(".", ",")).ToString("#.00") €</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    
</div>

