﻿
@{
    ViewData["Title"] = "Amministrazione Agenti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card-w">
                <table>
                    <thead>
                        <tr>
                            <th>Codice agente</th>
                            <th>Nome agente</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agent in @Model)
                        {
                            <tr>
                                <td class="code">@agent.Codice_ACG</td>
                                <td class="desc">@agent.Descrizione</td>
                                <td class="email">@agent.Email</td>
                                <td class="cellulare">@agent.Cellulare</td>
                                <td>
                                    <div class="dropdown dropdown-default">
                                        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item edit-agent" href="#" data-toggle="modal" data-target="#modalSlideUp">Modifica</a>
                                            <a class="dropdown-item" href="/amministrazione/statisticaAgenti?agent=@agent.Codice_ACG">Statistica</a>
                                            <a class="dropdown-item delete-agent" href="#">Elimina</a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content" style="padding:25px;">
                <h6 style="padding-bottom: 10px;">Modifica</h6>

                <div class="form-group form-group-default">
                    <label for="code">Codice Agente</label>
                    <input type="text" class="form-control" id="code" disabled />
                </div>
                <div class="form-group form-group-default">
                    <label for="desc">Descrizione</label>
                    <input type="text" class="form-control" id="desc" />
                </div>
                <div class="form-group form-group-default">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" />
                </div>
                <div class="form-group form-group-default">
                    <label for="cellulare">Cellulare</label>
                    <input type="text" class="form-control" id="cellulare" />
                </div>
                <div class="form-group form-group-default">
                    <label for="budget">Percentuale budget</label>
                    <input type="text" class="form-control" id="budget" />
                </div>
                <div class="form-group form-group-default">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" />
                </div>
                <button type="button" class="btn btn-success" id="btn-change-agent">Aggiorna</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
