﻿@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@model JObject

@{
    ViewData["Title"] = "Gestione sconti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@JsonConvert.SerializeObject(Model)" id="discountList" />

<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card-w">
                <table>
                    <thead>
                        <tr>
                            <th>Fornitore</th>
                            <th>Listino</th>
                            <th>Sconto libero</th>
                            <th>Sconto autorizzato</th>
                            <th>Può andare oltre 40%(admin)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JProperty i in Model.Children().ToList())
                        {
                            <tr id="@i.Name">
                                <td>@i.Name</td>
                                <td>@i.First["Listino"].ToString()</td>
                                <td>@i.First["Libero"].ToString()</td>
                                <td>@i.First["Autorizzato"].ToString()</td>
                                <td>@(bool.Parse(i.First["Over"].ToString()) ? "Sì" : "No")</td>
                                <td style="text-align: right"><a class="btn btn-sm editDiscount" data-toggle="modal" data-target="#modalDiscount">Modifica</a></td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div class="mt-30 row">
                    <div class="text-l col-6">
                        <a class="btn addDiscount" data-toggle="modal" data-target="#modalDiscount">Aggiungi</a>
                    </div>
                </div>

                </div>
            </div>
    </div>
</div>

<div class="modal" id="modalDiscount" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <input type="text" id="fornitore" placeholder="Fornitore" />
                <input type="text" id="listino" placeholder=Listino" />
                <input type="text" id="sconto_libero" placeholder="Sconto libero" />
                <input type="text" id="sconto_autorizzato" placeholder="Sconto autorizzato" />
                <input type="text" id="oltre_40" placeholder="Oltre 40%" />

            </div>
            <div class="modal-footer">
                <button class="btn" id="close_modal" data-dismiss="modal" aria-label="Close">Chiudi</button>
                <button class="btn" id="saveDiscount" data-dismiss="modal">Salva</button>
            </div>
        </div>
    </div>
</div>