﻿@using Dashboard_Microtech.Models;
@model AnalyticsAgent;
@{
    ViewData["Title"] = "Statistiche agente " + Model.agent;
    ViewBag.Type = ViewContext.HttpContext.Request.Query["type"];
}

<div class="row mt-60">
    <div class="col-12 mb-30">
        <div class="card">
            <div class="body-card-w">
                <h6 class="mb-30">
                    Filtri statistiche
                </h6>

                <div class="filters">
                    <form method="get">
                        <input type="hidden" name="agent" value="@Model.agent" />
                        <div class="row">
                            <div class="col-6">
                                <label>Causale</label>
                                <select name="causal" value="@Model.causal">
                                    <option value="">Tutte</option>
                                    <option value="OC" selected="@(Model.causal == "OC")">OC</option>
                                    <option value="F2" selected="@(Model.causal == "F2")">F2</option>
                                    <option value="BC" selected="@(Model.causal == "BC")">BC</option>
                                    <option value="BA" selected="@(Model.causal == "BA")">BA</option>
                                    <option value="BK" selected="@(Model.causal == "BK")">BK</option>
                                    <option value="PR" selected="@(Model.causal == "PR")">PR</option>
                                    <option value="FA" selected="@(Model.causal == "FA")">FA</option>
                                    <option value="NA" selected="@(Model.causal == "NA")">NA</option>
                                    <option value="BS" selected="@(Model.causal == "BS")">BS</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label>Tipo statistica</label>
                                <select name="type">
                                    <option></option>
                                    <option value="0" selected="@(ViewBag.Type == "0")">Cliente</option>
                                    <option value="1" selected="@(ViewBag.Type == "1")">Prodotto</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label>Data inizio</label>
                                <div id="myDatepicker" class="input-group date">
                                    <input type="text" name="dateBegin">
                                    <span class="input-group-addon">
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Data fine</label>
                                <div id="myDateEnd" class="input-group date">
                                    <input type="text" name="dateEnd">
                                    <span class="input-group-addon">
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Numero di clienti ordini: @Model.orderCustomers</label>
                            </div>
                            <div class="col-6">
                                <label>Numero di clienti preventivi: @Model.preCustomers</label>
                            </div>
                            <div class="col-6">
                                <label>Totale valore ordini: @Model.customers.Sum(z => z.orders.Sum(x => x.orderValue)).ToString("C")</label>
                            </div>
                            <div class="col-6">
                                <label>Totale valore preventivi: @Model.preValue.ToString("C")</label>
                            </div>
                        </div>
                        <button type="submit" class="btn">Filtra statistiche</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-30">
        <div class="card">
            <div class="body-card-w">
                <h6 class="mb-30">
                    Riepilogo statistiche
                </h6>

                <table>
                    <thead>
                        <tr>
                            <th>Fatturato complessivo</th>
                            <th>Fatturato per giorno</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.customers.Sum(z => z.orders.Sum(x => x.orderValue)).ToString("C")</td>
                            <td>@((Model.customers.Sum(z => z.orders.Sum(x => x.orderValue)) / (365 * 3)).ToString("C"))</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (ViewBag.Type == "0")
    {
        <div class="col-12 client-analysis">
            <div class="card">
                <div class="body-card-w">

                    <h6 class="mb-30">Statistiche per cliente</h6>
                    @foreach (int year in Model.dates)
                    {
                        <h4 style="margin-top: 15px; color:#000">Anno @year.ToString()</h4>
                        <table style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>Codice spedizione</th>
                                    <th>Nome</th>
                                    <th>Codice fatturazione</th>
                                    <th>Valore ordini</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Customer customer in Model.customers)
                                {
                                    <tr>
                                        <td>@customer.delivery</td>
                                        <td>@customer.surname @customer.name</td>
                                        <td>@customer.invoice</td>
                                        <td>@customer.orders.Where(x => x.year == year).Sum(x => x.orderValue).ToString("C")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }

</div>

            </div>
        </div>

    }
    else if(ViewBag.Type == "1")
    {
        <div class="col-12 product-analysis">
            <div class="card">
                <div class="body-card-w">
                    <h6 class="mb-30">
                        Statistiche per prodotto
                    </h6>
                    @foreach (int year in Model.dates)
                    {
                        <h4 style="margin-top: 15px; color:#000">Anno @year.ToString()</h4>
                        <table style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Quantità venduta</th>
                                    <th>Valore totale</th>
                                    <th>Margine aziendale</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var productsGrouped in Model.products.Where(x => x.year == year).GroupBy(x => x.sku).Select(g => g.ToList()).ToList())
                                {

                                    <tr>
                                        <td>@productsGrouped.First().sku</td>
                                        <td>@productsGrouped.Sum(x => x.qty)</td>
                                        <td>@productsGrouped.Sum(x => x.net).ToString("C")</td>
                                        <td>@((((productsGrouped.Sum(x => x.net) - productsGrouped.Sum(x => x.cumage)) * 100) / productsGrouped.Sum(x => x.cumage)).ToString("0.00")) %</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    }



</div>