﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using Microtech_Core.Database.Models;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Storico preventivi per ";
    ViewData["Customer"] = @Model[0].name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (@Model != null)
{
    <input type="hidden" id="clientId" value="@Model[0].delId" />
    <input type="hidden" id="agentcode" value='' />
    <input type="hidden" id="agentname" value='' />
    <input type="hidden" id="agentcell" value="" />
    <input type="hidden" id="agentemail" value="" />
    <script>
        var Model = @(Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("Logged")));
        console.log(Model);
        document.getElementById("agentcode").value = Model["Codice_ACG"];
        document.getElementById("agentname").value = Model["Descrizione"].trimRight();
        document.getElementById("agentcell").value = Model["Cellulare"].trimRight();
        document.getElementById("agentemail").value = Model["Email"].trimRight();
    </script>

    <div class="row mt-60">
        <div class="col-12">
            <div class="card">
                <div class="body-card-w">
                    <h6 class="mb-30">Lista preventivi</h6>
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Stato</th>
                                <th>Numero</th>
                                <th>Data</th>
                                <th>Denominazione cliente</th>
                                <th>Importo</th>
                                <th>Azioni</th>
                            </tr>
                            <tbody>
                                @foreach (var i in @Model)
                                {
                                    <tr>
                                        <td>@i.status</td>
                                        <td>@i.id</td>
                                        <td>@i.getDate()</td>
                                        <td class="deliverNumber">@i.name</td>
                                        <td>@i.getValue() €</td>
                                        <td>
                                            <div class="dropdown dropdown-default">
                                                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Azioni
                                                </button>
                                                <div class="dropdown-menu" style="width: 91.3438px; position: absolute; transform: translate3d(0px, -169px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="top-start">
                                                    <a class="dropdown-item" href="/preventivi/ShowResultPre?pre=@i.id">Dettagli</a>
                                                    @if ((string)Context.Request.Query["cli"] != "ALL")
                                                    {
                                                        <a href='/List/Crea?type=WPR&ordId=@i.id&editMode=true&ordCli=@Context.Request.Query["cli"]' class="dropdown-item">Modifica</a>
                                                    }
                                                    <!--<a href="https://desk.microtech.eu/template.html?" data-target="pre" data-ordId="@i.id" data-ordCli='@Context.Request.Query["cli"]' class="dropdown-item print">Stampa</a>-->
                                                    @if ((string)Context.Request.Query["cli"] != "ALL")
                                                    {
                                                        <a href='/List/Crea?type=WPR&ordId=@i.id&editMode=false&ordCli=@Context.Request.Query["cli"]' class="dropdown-item">Copia</a>
                                                    }
                                                    <a href="http://138.68.100.112/fatture/" data-target="pre" data-ordId="@i.id" data-ordCli='@Context.Request.Query["cli"]' class="dropdown-item pdf">
                                                        PDF
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    }
    else
    {
    <p>Ordine non trovato</p>
    }


