﻿@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Dettaglio preventivo";
    ViewData["Customer"] = @Model[0].id;
    ViewBag.Total = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <input type="hidden" id="clientId" value="@Model[0].id" />
    <input type="hidden" id="agentcode" value='' />
    <input type="hidden" id="agentname" value='' />
    <input type="hidden" id="agentcell" value="" />
    <input type="hidden" id="agentemail" value="" />
    <script>
        var Model = @(Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("Logged")));
        console.log(Model);
        document.getElementById("agentcode").value = Model["Codice_ACG"];
        document.getElementById("agentname").value = Model["Descrizione"].trimRight();
        document.getElementById("agentcell").value = Model["Cellulare"].trimRight();
        document.getElementById("agentemail").value = Model["Email"].trimRight();
    </script>
    <div class="row mt-60">
        <div class="col-12">
            <div class="card">
                <div class="body-card">
                    <div class="row">
                        <div class="col-6">

                            <ul>
                                <li>ID Cliente di spedizione: <span class="semi-bold">@Model[0].codSped</span></li>
                                <li>ID Cliente di fatturazione: <span class="semi-bold">@Model[0].codFatt</span></li>
                                <li>Nome cliente: @Model[0].cliSped</li>
                                <li id="totalPre">Subtotale: @Model[0].GetTotal() €</li>

                            </ul>
                            <br />
                            <a class="btn btn-sm" href="/List/Crea?type=WPR&ordId=@Model[0].id&editMode=true&ordCli=@Model[0].idDel">Modifica</a>
                            <a href="http://138.68.100.112/fatture/" data-target="pre" data-ordId="@Context.Request.Query["pre"]" data-ordCli='@Model[0].idDel' class="btn btn-sm pdf">
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-60">
        <div class="col-12">
            <div class="card">
                <div class="body-card-w">
                    <h6 class="mb-30">Lista prodotti ordine</h6>
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>ID prod.</th>
                                <th>Nome articolo</th>
                                <th>Quantità articolo</th>
                                <th>Importo articolo</th>
                            </tr>
                            <tbody>
                                @foreach (var i in @Model)
                                {
                                    <tr>
                                        <td>@i.sku</td>
                                        <td>@i.productName</td>
                                        <td>@i.qty</td>
                                        <td>@Decimal.Parse(i.price.Replace(".", ",")).ToString("#.00") €</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="mt-30 text-r"><button class="btn" type="button"></button></div>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <h4>Preventivo non trovato o vuoto. Contattare l'amministratore.</h4>
}

