﻿@{ 
    ViewData["Title"] = "Cerca dati clienti";
    ViewData["TopSearchLabel"] = "Società/Dipartimento (es. 'DIP.BIOLOGIA')";
}
<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-12">
                        <h6>Ricerca dati clienti</h6>
                        <div class="bx-radio mt-40 mb-40" id="search">
                            <label><input type="radio" class="type-search" id="0" value="0" name="type" />Dati di spedizione</label>
                            <label style="margin-left:20px;"><input type="radio" class="type-search" id="1" value="1" name="type" />Dati di fatturazione</label>

                        </div>
                        
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="hidden" id="agentcode" value="@Model.Codice_ACG" />
                                <label>Società / dipartimento (es. dip. biologia)</label>
                                <input type="text" name="search_criteria typeahead" id="autoComplete" />
                            </div>
                        </form>
                    </div>
                    <div class="col-12 mt-20">
                        <a  href="#" id="delivery-customer-search" class="btn">cerca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>