﻿@{
    ViewData["Title"] = "Cerca clienti per fatturazione";
    ViewData["TopSearchLabel"] = "Società/Dipartimento (es. 'DIP.BIOLOGIA')";
}

<div class="index-cat">
    <div class="row">
        <div class="col-lg-12 research-form">
            <div class="index-form-content">
                <div class="form-header white">
                    <span class="fal fa-search icon-index"></span>
                    <span class="title h6">@ViewData["Title"]</span>
                </div>
                <hr style="border-color:#3e7395" />
                <div class="btn-container">
                    <a href="#" class="btn-rounded-transparent active" data-bind="search">Cerca</a>
                </div>

                <div class="form-body white" id="search">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="hidden" id="agentcode" value="@Model.Codice_ACG" />
                            <label for="autoComplete">@ViewData["TopSearchLabel"]</label>
                            <input type="text" class="form-control" name="search_criteria typeahead" id="autoComplete" />
                        </div>
                    </form>
                    <div class="more-options-button">
                        <a href="#" id="more-options">
                            <span class="title">Più opzioni</span>
                            <span class="fa fa-angle-left"></span>
                        </a>
                    </div>
                    <div class="form-body white more-options">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sx-6">
                                <label for="regioni">Seleziona una provincia</label>
                                <select class="form-control" id="provincia">
                                    <option>NA</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sx-6">
                                <label for="agenti">Seleziona una città</label>
                                <select class="form-control" id="citta">
                                    <option>Napoli</option>
                                    <option>Salerno</option>
                                    <option>Pozzuoli</option>
                                </select>
                            </div>
                        </div>
                        <span class="h6 bold detail">Dettaglio cliente</span>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sx-6">
                                <label for="piva">Partita IVA</label>
                                <input type="text" value="" class="form-control" id="piva" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sx-6">
                                <label for="cognome">Cognome</label>
                                <input type="text" value="" class="form-control" id="cognome" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sx-6">
                                <label for="nome">Nome</label>
                                <input type="text" value="" class="form-control" id="nome" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sx-6">
                                <label for="indirizzo">Indirizzo</label>
                                <input type="text" value="" class="form-control" id="indirizzo" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sx-6">
                                <label for="localita">Località</label>
                                <input type="text" value="" class="form-control" id="localita" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sx-6">
                                <label for="provincia">Provincia</label>
                                <input type="text" value="" class="form-control" id="provincia" />
                            </div>
                        </div>
                    </div>

                    <hr style="border-color:#3e7395" />
                    <div class="form-footer">
                        <a class="btn-semi-rounded" href="#" id="invoice-customer-search">Ricerca</a>
                    </div>
                </div>
                <div class="form-body-add white not-visible" id="add">

                </div>
            </div>
        </div>
    </div>
</div>