﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Microtech_Core.Database.Models;
    ViewData["Title"] = "Ricerca clienti";

}
<input type="hidden" id="city" value="@Model.citta" />
<input type="hidden" id="province" value="@Model.provincia" />
<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card-w">
                <h6 class="mb-30">Lista clienti</h6>
                <table>
                    <tr>
                        @if (Model.type == 0)
                        {
                            <th>Nome</th>
                            <th>Cognome</th>
                        }
                        <th>Società/Dipartimento</th>
                        <th>Indirizzo</th>

                        @if (Model.type == 0)
                        {
                            <th>CAP</th>
                            <th>E-mail</th>
                            <th>Telefono</th>
                        }
                        else
                        {
                            <th>P.IVA</th>
                        }

                        <th>Città</th>
                        <th>Provincia</th>
                    </tr>
                    <tbody>
                            @foreach (Microtech_Core.Database.Models.Customer customer in Model.customers)
                            {
                                if (Model.type == 0 && customer.VATNumber == "")
                                {

                                <tr class="item">
                                    <td>@customer.Name</td>
                                    <td>@customer.Surname</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.CompanyName</td>
                                    <td>@customer.CAP</td>
                                    <td></td>
                                    <td>@customer.PhoneNumber</td>

                                    <td>@customer.City</td>
                                    <td>@customer.Province</td>
                                </tr>

                            }
                            else if (Model.type == 1 && customer.VATNumber != "")
                            {
                                <tr class="item">
                                    <td>@customer.CompanyName</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.VATNumber</td>
                                    <td>@customer.City</td>
                                    <td>@customer.Province</td>
                                </tr>
                            }
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>