﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<form action="/login/Login" method="POST" class="form-bg mt-70">

    <input type="text" name="code" placeholder="codice@microtech.eu" required>

    <input type="password" name="password" placeholder="Password" required>

    <button type="submit" class="btn btn-block">accedi</button>
</form>
