//
// Global
// --------------------------------------------------//
html {
	height:100%;
	zoom:1 !important;
	-webkit-text-size-adjust:100%;
}
*, *:before, *:after {
	@extend .border-box;
}

body {
	overflow-x:hidden;
	min-width:320px;

	font-family:$font-family-1;
    font-size:$font-size-base;
    line-height:$line-height-base;
    color:$color-white;

	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.color-try {
	span {
		display:block;
		float:left;
		width:150px;
		height:150px;

		&:nth-child(1) {background:$grey-darkest;}
		&:nth-child(2) {background:$grey-darker;}
		&:nth-child(3) {background:$grey-dark;}
		&:nth-child(4) {background:$grey-base;}
		&:nth-child(5) {background:$grey-light;}
		&:nth-child(6) {background:$grey-lighter;}
		&:nth-child(7) {background:$grey-lightest;}
	}
}
.text-r{text-align: right;}
//
// Home
// --------------------------------------------------//
.bx-home{
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: url("../img/bg.jpg");
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
	.bx-copy{
		font-size: 11px;
		width: 100%;
		text-align: center;
		padding: 10px;
		@include screen-md-min {
			position: absolute;
			bottom: 0;
		}
	}
}
//
// Page
// --------------------------------------------------//
.bx-page{
	background: $color-2;
	background: -moz-linear-gradient(left, rgba(4,68,108,1) 1%, rgba(66,108,146,1) 100%);
	background: -webkit-linear-gradient(left, rgba(4,68,108,1) 1%,rgba(66,108,146,1) 100%);
	background: linear-gradient(to right, rgba(4,68,108,1) 1%,rgba(66,108,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04446c', endColorstr='#426c92',GradientType=1 );
	width: 100%;
	min-height: 100vh;
	padding: 70px 0 0 0;
	position: relative;
	@include screen-md-min {
		left: 250px;
		width: calc(100% - 250px);
		padding-top: 100px;
		padding-bottom: 10px;
	}
	@include screen-md-max {
		padding-top: 110px;
	}
}
.category-link{
	background-color: transparentize($color-white,0.8);
	border-radius: 5px;
	overflow: hidden;
	color: $color-1;
	display: flex;
	align-items: center;
	
	transition:.15s ease all;
	@include screen-xs-min {margin-top: 30px;}
	span{
		padding: 0 25px;
		font-size: 10px;
		text-transform: uppercase;
		strong{
			display: block;
			color: $color-white;
			font-size: $font-size-base;
			text-transform: capitalize;
		}
	}
	i{
		background-color: $color-1;
		color: $color-2;
		font-size: 30px;
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&:hover{
		background-color: $color-white;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
		span{
			color: $color-2;
			strong{
				color: $color-2;
			}
		}
	}
}
.card{
	background-color: $color-white;
	border-radius: 10px;
	overflow: hidden;
	color: $color-2;
	h6{font-weight: bold}
	.body-card{
		padding: 20px 10px;
		@include screen-md-min {
			padding: 30px;
		}
		background-color: $grey-lightest;
	}
	
}
.body-card-w{
	padding: 10px;
	@include screen-md-min {
		padding: 30px;
	}
}
.footer{
	font-size: 11px;
	text-align: right;
	padding: 20px;
	position: sticky;
	top: 100%;
	@include screen-md-max {
		text-align: center;
	}
}