//
// Border radius and box shadow
// --------------------------------------------------//
@mixin border-radius($radius) {
	border-radius:$radius;
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
}
@mixin border-radius-top($radius) {
	border-top-right-radius:$radius;
	-moz-border-radius-topright:$radius;
	-webkit-border-radius-topright:$radius;
	
	border-top-left-radius:$radius;
	-moz-border-radius-topleft:$radius;
	-webkit-border-radius-topleft:$radius;
}
@mixin border-radius-bottom($radius) {
	border-bottom-right-radius:$radius;
	-moz-border-radius-bottomright:$radius;
	-webkit-border-radius-bottomright:$radius;
	
	border-bottom-left-radius:$radius;
	-moz-border-radius-bottomleft:$radius;
	-webkit-border-radius-bottomleft:$radius;
}

@mixin box-shadow($bxSh) {
	box-shadow:$bxSh;
	-moz-box-shadow:$bxSh;
	-webkit-box-shadow:$bxSh;
}



//
// Transition
// --------------------------------------------------//
@mixin transition ($args...) {
	-webkit-transition:$args;
	-moz-transition:$args;
	-o-transition:$args;
	transition:$args;
}



//
// Transform
// --------------------------------------------------//
@mixin transform($transforms) {
	-moz-transform:$transforms;
	-o-transform:$transforms;
	-ms-transform:$transforms;
	-webkit-transform:$transforms;
	transform:$transforms;
}
@mixin rotate ($deg) {
	@include transform(rotate($deg + deg));
}
@mixin scale($scale) {
	@include transform(scale($scale));
}
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
@mixin translateY($y){
	transform:translateY($y);
	-webkit-transform:translateY($y);
	-moz-transform:translateY($y);
	-o-transform:translateY($y);
}
@mixin translateX($x){
	transform:translateX($x);
	-webkit-transform:translateX($x);
	-moz-transform:translateX($x);
	-o-transform:translateX($x);
}
@mixin skew ($x, $y) {
	@include transform(skew($x+deg, $y+deg));
}
@mixin transform-origin ($origin, $origin2) {
	moz-transform-origin:$origin $origin2 ;
	-o-transform-origin:$origin $origin2;
	-ms-transform-origin:$origin $origin2;
	-webkit-transform-origin:$origin $origin2;
	transform-origin:$origin $origin2;
}
@mixin transform3d ($pos1,$pos2,$pos3) {
	transform:translate3d($pos1,$pos2,$pos3);
	-webkit-transform:translate3d($pos1,$pos2,$pos3);
	-moz-transform:translate3d($pos1,$pos2,$pos3);
	-o-transform:translate3d($pos1,$pos2,$pos3);
	-ms-transform:translate3d($pos1,$pos2,$pos3);
}



//
// Animaiton & Keyframes
// --------------------------------------------------//
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin animation($str) {
	-webkit-animation:$str;
	-moz-animation:$str;
	-ms-animation:$str;
	-o-animation:$str;
	animation:$str;
}



//
// Filter
// --------------------------------------------------//
@mixin filter-grayscale($perc){
	-webkit-filter:grayscale($perc);
	filter:grayscale($perc);
}
@mixin filter-brighter($val){
	filter:brightness($val);
	-webkit-filter:brightness($val);
}



//
// Flex
// --------------------------------------------------//
@mixin flexbox {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}

@mixin justify-content($value) {
	-webkit-box-pack:$value;
	-moz-box-pack:$value;
	-ms-flex-pack:$value;
	-webkit-justify-content:$value;
	justify-content:$value;
}

@mixin align-items ($value:center) {
	
	@if $value == flex-start {
		-webkit-box-align:start;
		-ms-flex-align:start;
	} @else if $value == flex-end {
		-webkit-box-align:end;
		-ms-flex-align:end;
	} @else {
		-webkit-box-align:$value;
		-ms-flex-align:$value;
	}
	
	-webkit-align-items:$value;
	-moz-align-items:$value;
	align-items:$value;
}

@mixin va-top {
	@include flexbox;
	@include align-items(flex-start);
}
@mixin va-center {
	@include flexbox;
	@include align-items(center);
}
@mixin va-bottom {
	@include flexbox;
	@include align-items(flex-end);
}

.flex-va-top {@include va-top;}
.flex-va-center {@include va-center;}
.flex-va-bottom {@include va-bottom;}



//
// Auto Percentage
// --------------------------------------------------//
@mixin fontPerc($perc, $val) {
	font-size:($perc/100*$val);
}
@mixin ptbPerc($perc, $val) {
	padding-top:($perc/100*$val) + px;
	padding-bottom:($perc/100*$val) + px;
}
@mixin mbPerc($perc, $val) {
	margin-bottom:($perc/100*$val) + px;
}
@mixin mrPerc($perc, $val) {
	margin-right:($perc/100*$val) + px;
}
@mixin mtPerc($perc, $val) {
	margin-top:($perc/100*$val) + px;
}
@mixin mtbPerc($perc, $val) {
	margin-top:($perc/100*$val) + px;
	margin-bottom:($perc/100*$val) + px;
}



/*
// Retina Image
// --------------------------------------------------*/
@mixin image-2x($image, $width) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		background-image:url($image);
		background-size:$width;
	}
}



//
// Others
// --------------------------------------------------//
@mixin lineClamp($lines, $height:null) {
	display:-webkit-box;
	-webkit-line-clamp:$lines;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	
	height:$height;
}

@mixin linear-gradient($position, $color1, $color2) {
	background:-webkit-linear-gradient($position, $color1, $color2);
	background:-o-linear-gradient($position, $color1, $color2);
	background:-moz-linear-gradient($position, $color1, $color2);
	background:linear-gradient($position, $color1, $color2);
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {color:$color}
	&::-moz-placeholder {color:$color}
	&:-ms-input-placeholder {color:$color}
	&:-moz-placeholder {color:$color}
}