﻿@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@using Microtech_Core.Database.Models;

@inject IHttpContextAccessor HttpContextAccessor;
@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    var category = Context.Request.Path.Value.Split('/')[1];
    var route = "";
    if (Context.Request.Path.Value.Split('/').Length > 2)
    {
        route = Context.Request.Path.Value.Split('/')[2];

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <link rel="shortcut icon" id="favicon" href="/dist/img/favicon.png">

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">

    <script src="/lib/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/lib/bootstrap/popper.min.js"></script>

    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/lib/jcf/jcf.min.js"></script>
    <link rel="stylesheet" href="/lib/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/dist/css/style.css">

    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <link href="/css/datepicker3.css" rel="stylesheet" />
    <link href="/css/daterangepicker-bs3.css" rel="stylesheet" />

    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/js/handlebars.js"></script>
    <script src="~/src/js/adem.js"></script>
    <script src="~/src/js/adem_alert.min.js"></script>
    <!-- Only for development -->

    <script src="/src/js/include-partials.js"></script>
    <script src="/lib/datepicker/daterangepicker.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="lib/html5shiv/html5shiv.min.js"></script><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Microtech Desk</title>

</head>
<body class="fixed-header dashboard menu-pin">

    <div class="hd-mobile">
        <div class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <img src="/dist/img/logo.svg" alt="logo" class="logo-hd">
    </div>
    <header class="header-main">
        <a href="@this.Url.Action("Index", "Home")">
            <img src="/dist/img/logo.svg" alt="logo" class="logo-hd">
        </a>
        <nav class="nav-side">
            <ul>
                <li class="menu-item-has-children @(category.ToLower() == "list" ? "show" : "")">
                    <a href="#">Azioni</a>
                    <ul class="display-none" style="@(category.ToLower() == "list" ? "display:block" : "")">
                        <li class="@(pageName == "List" ? "active" : "")"><a href="/list/crea?type=WPR">Nuovo preventivo</a></li>
                        <li class="@(pageName == "Archive" ? "active" : "")"><a href="/archive/SearchOrderClients?editMode=true&type=WOP">Modifica conto a scalare</a></li>

                        @if (HttpContextAccessor.HttpContext.Session.GetString("Logged").Contains("A01") || HttpContextAccessor.HttpContext.Session.GetString("Logged").Contains("C01") || HttpContextAccessor.HttpContext.Session.GetString("Logged").Contains("C02"))
                        {
                            <li><a href="/list/crea?type=WLS">Nuova offerta dipartimentale</a></li>
                        }

                    </ul>
                </li>
                <li class="menu-item-has-children @(category.ToLower() == "archive" || category.ToLower() == "preventivi" ? "show" : "")">
                    <a href="#">Archivio</a>
                    <ul style="@(category.ToLower() == "archive" || category.ToLower() == "preventivi" ? "display:block" : "")" class="display-none">
                        <li class="@(route == "SearchOrderClients" ? "active" : "")"><a href="@this.Url.Action("SearchOrderClients", "Archive")">Ordini clienti</a></li>
                        <li class="@(pageName == "Preventivi" ? "active" : "")"><a href="/preventivi">Preventivi</a></li>
                        <li class="@(route == "listsearch" ? "active" : "")"><a href="/archive/listsearch">Offerta dipartimentale</a></li>
                    </ul>
                </li>
                <li><a href="@this.Url.Action("Search", "Products")">Prodotti</a></li>
                <li class="menu-item-has-children @(category.ToLower() == "anagrafica" ? "show" : "")">
                    <a href="">Anagrafica</a>
                    <ul class="display-none" style="@(category.ToLower() == "anagrafica" ? "display:block" : "")">
                        <li class="@(route == "Spedizione" ? "active" : "")"><a href="@this.Url.Action("Spedizione", "Anagrafica")">Clienti</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children @(category.ToLower() == "sicurezza" ? "show" : "")">
                    <a href="">Sicurezza</a>
                    <ul class="display-none" style="@(category.ToLower() == "sicurezza" ? "display:block" : "")">
                        <li class="@(route == "password" ? "active" : "")"><a href="/sicurezza/password">Cambio password</a></li>
                    </ul>
                </li>
                @{
                    Microtech_Core.Database.Models.Agent agent = JsonConvert.DeserializeObject<Microtech_Core.Database.Models.Agent>(HttpContextAccessor.HttpContext.Session.GetString("Logged"));
                }
                @if (HttpContextAccessor.HttpContext.Session.GetString("Logged").Contains("A01") || HttpContextAccessor.HttpContext.Session.GetString("Logged").Contains("C01") || HttpContextAccessor.HttpContext.Session.GetString("Logged").Contains("C02"))
                {
                    <li class="menu-item-has-children">
                        <a href="">Gestione</a>
                        <ul class="display-none">
                            <li><a href="/amministrazione/agenti">Gestione agenti</a></li>
                            <li><a href="/amministrazione/discount">Gestione sconti</a></li>
                            <li><form name="importa_clienti" action="http://2.229.69.115:10080/ImportaClienti" method="POST"><input type="hidden" name="codage" value="@agent.Codice_ACG" /><a href="javascript: document.importa_clienti.submit()">Importa clienti</a></form></li>
                            <li><form name="accettazione_clienti" action="http://2.229.69.115:10080/ImportaClienti/menu.php" method="POST"><input type="hidden" name="codage" value="@agent.Codice_ACG" /><a href="javascript: document.accettazione_clienti.submit()">Importa clienti interni</a></form></li>
                        </ul>


                    </li>
                }
            </ul>
        </nav>
        <a type="button" class="btn btn-sm btn-logout logout" href="/login/Logout"><i class="fal fa-power-off"></i>Logout</a>
    </header>

    <section class="bx-page">
        @if (pageName != "Login" && pageName != "Home")
        {
            <a href="javascript: history.go(-1)" class="btn btn-outline btn-sm btn-back"><i class="fal fa-chevron-left"></i> Indietro</a>
        }
        <div class="row">
            <div class="col-12">
                <h2>
                    @ViewData["Title"] @if (ViewData["Customer"] != null)
                    {<span>@ViewData["Customer"]</span>}
                </h2>
                <time>@DateTime.Now.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("it-IT")) - ore @DateTime.Now.ToString("HH:mm", new System.Globalization.CultureInfo("it-IT"))</time>
            </div>
        </div>

        @RenderBody()

        <div class="footer">Copyright © 2019 Emmemedia All right reserved.</div>
    </section>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
