﻿<!doctype html>
<!--
=====================================
Made with Adem ======================
=====================================
 ______  _____   ______  __    __
/\  __ \/\  __-./\  ___\/\ "-./  \
\ \  __ \ \ \/\ \ \  __\\ \ \-./\ \
 \ \_\ \_\ \____-\ \_____\ \_\ \ \_\
  \/_/\/_/\/____/ \/_____/\/_/  \/_/
=====================================
=====================================
=====================================
-->
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Accedi - Microtech</title>

    <link rel="shortcut icon" id="favicon" href="dist/img/favicon.png">

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">

    <script src="/lib/jquery/jquery-2.2.4.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/lib/jcf/jcf.min.js"></script>

    <link rel="stylesheet" href="/dist/css/style.css">

    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">

    <script src="/src/js/adem.js"></script>


    <!--[if IE]><script type="text/javascript" src="lib/html5shiv/html5shiv.min.js"></script><![endif]-->

</head>

<body>
    <div class="container">
        <main>
            <section class="bx-home">
                <div class="w-100">
                    <div class="row">
                        <div class="col-8 col-12-md mx-auto">
                            <img src="/dist/img/logo-negative.svg" alt="">
                            <h2 class="mt-60 line">Microtech, la scelta logica.</h2>
                            <p>Oltre 5 milioni di prodotti di aziende di prestigio nel settore.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-12-md mx-auto">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="bx-copy">Copyright © 2019 Emmemedia All right reserved.</div>
            </section>
        </main>
    </div>

</body>
</html>
