﻿@using Microtech_Core.WebServices.Services.Misc.Utils;
@using Microtech_Core.WebServices.Services.Pojo;

<input type="hidden" id="agentcode" value="@Model.Codice_ACG" />
<input type="hidden" id="agentname" value="@Model.Descrizione" />
<input type="hidden" id="agentcell" value="@Model.Cellulare" />
<input type="hidden" id="agentemail" value="@Model.Email" />
@{

    switch (Context.Request.Query["type"])
    {
        case "WPR":
            ViewData["Title"] = "Nuovo preventivo";
            ViewData["CTA"] = "Aggiunta preventivo";

            <input type="hidden" id="orderType" value="WPR" />
            <input type="hidden" value="P" id="tpm" />
            break;
        case "WLS":
            ViewData["Title"] = "Nuova offerta dipartimentale";
            ViewData["CTA"] = "Aggiunta listino";
            <input type="hidden" value="WLS" id="orderType" />
            <input type="hidden" value="L" id="tpm" />
            break;
        case "WOS":
            ViewData["Title"] = "Nuovo ordine Standard";
            ViewData["CTA"] = "Aggiunta ordine";
            <input type="hidden" value="WOS" id="orderType" />
            <input type="hidden" value="O" id="tpm" />
            break;
        case "WOP":
            ViewData["Title"] = "Modifica ordine conto a scalare";
            ViewData["CTA"] = "Aggiunta ordine";
            <input type="hidden" value="000" id="orderType" />
            <input type="hidden" value="O" id="tpm" />
            break;
        default:
            ViewData["Title"] = "Aggiunta ordine";
            break;
    }



}
@{
    if ((string)Context.Request.Query["ordCli"] != null && (string)Context.Request.Query["editMode"] != "false")
    {
        ViewData["Title"] = "Modifica";
        ViewData["CTA"] = "Modifica";
        if ((string)Context.Request.Query["type"] != "WOP")
        {
            ViewData["Products"] = Utils.getPre(@Context.Request.Query["ordId"]);
        }
        else
        {
            ViewData["Products"] = Utils.getOrd(@Context.Request.Query["ordId"], @Context.Request.Query["date"], "000");
        }
        <input type="hidden" value="S" id="azi" />
    }
    else if ((string)Context.Request.Query["ordCli"] != null && (string)Context.Request.Query["editMode"] != "true")
    {
        ViewData["Title"] = "Copia";
        <input type="hidden" value="I" id="azi" />
        if ((string)Context.Request.Query["type"] != "WOP")
        {
            ViewData["Products"] = Utils.getPre(@Context.Request.Query["ordId"]);
        }
    }
}

<input type="hidden" value='@Context.Request.Query["ordCli"]' id="ordCli" />

<input type="hidden" value='@Context.Request.Query["ordId"]' id="ordId" />
<input type="hidden" value='@ViewData["Products"]' id="productsJson" />

<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-6">
                        <h6>Seleziona Cliente</h6>
                        <label>Seleziona il cliente per il quale creare l’ordine</label><br />
                        <input type="text" class="typeahead form-control" id="autoComplete" placeholder="Cliente" />
                        
                        <h6 class="mt-40">Dettaglio ordine</h6>
                        <label>Codice CIG</label>
                        <input type="text" placeholder="CIG" name="CIG" id="CIG">
                        <label>Codice CUP</label>
                        <input type="text" placeholder="CUP" name="CUP" id="CUP">
                    </div>
                    <div class="col-6">
                        <h6>Seleziona un prodotto</h6>
                        <label>Ricerca per</label>
                        <select id="search-filters">
                            <option value="0">Codice</option>
                            <option value="1">Descrizione</option>
                        </select>
                        <label>Campo di ricerca</label>
                        <input type="text" placeholder="Codice o descrizione" id="sku">
                        <div class="bx-radio mb-40">
                            <label><input type="radio" name="type_of_search" class="type_of_search" value="0"> Parola esatta</label>
                            <label><input type="radio" name="type_of_search" class="type_of_search" value="1"> Inizia con</label>
                            <label><input type="radio" name="type_of_search" class="type_of_search" value="2"> Finisce con</label>
                            <label><input type="radio" name="type_of_search" class="type_of_search" value="3"> Contiene</label>
                        </div>
                        <a class="btn m-r-20 align-baseline" data-toggle="modal" data-target="#modalSlideUp" id="search_product_async">cerca</a>
                    </div>
                </div>
            </div>
            <div class="row pb-30">
                <div class="col-12">
                    <div class="body-card-w">
                        <div class="row">
                            <div class="col-4">
                                <h6>Prodotti selezionati</h6>
                            </div>
                            <div class="col-4">
                                @if (Context.Request.Query["type"] == "WOP")
                                {

                                    <h6 style="color:#04446C">Saldo rimanente: <br /><span id="saldo_rimanente" data-remaining="0">0,00€</span></h6>

                                }
                            </div>
                            <div class="col-4">
                                <h6 style="color:#04446C">Subtotale:<br /><span id="subtotale">0,00€</span></h6>
                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="products-selected">
                                        <thead>
                                            <tr>
                                                <th>sku</th>
                                                <th>Nome prodotto</th>
                                                <th>prezzo unitario</th>
                                                <th>sconto</th>
                                                <th>prezzo scontato</th>
                                                <th>quantità</th>
                                                <th>prezzo totale</th>
                                                <th>azioni</th>
                                            </tr>
                                        </thead>
                                        <tbody id="selected-product"></tbody>
                                    </table>
                                </div>
                                
                                <div class="mt-30 text-r"><button class="btn add-list" id="addOrder" type="button">@ViewData["CTA"]</button></div>
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalSlideUp" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="products" class="table-responsive">

                </div>
                <ul class="pagination">
                    <li><a href="#" id="prev" class="product">&laquo;</a></li>
                    <li><a href="#" id="page">1</a></li>
                    <li><a href="#" id="next" class="product">&raquo;</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn" id="close_modal" data-dismiss="modal" aria-label="Close">Chiudi</button>
            </div>
        </div>
    </div>
</div>

