﻿
@{
    ViewData["Title"] = "Cambia Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/sicurezza/cambiapassword" method="POST">
    <div class="row mt-60">
        <div class="col-12">
            <div class="card">
                <div class="body-card">
                    <div class="row">
                        <div class="col-6">
                            <label>Password</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="col-6">
                            <label>Conferma password</label>
                            <input type="password" id="confirm_password" name="confirm_password">
                        </div>
                        
                        <div class="col-12 mt-20"><button type="submit" class="btn" data-target="changepwd">cerca</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

