﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Microtech_Core.WebServices.Services.Misc.Utils;
    @using Microtech_Core.WebServices.Services.Pojo;
    @using static Microsoft.Extensions.Primitives.StringValues;

    ViewData["Title"] = "Risultati ricerca";
    ViewData["Page"] = int.Parse(Context.Request.Query["p"]);
    ViewData["startItem"] = int.Parse(Context.Request.Query["startItem"]);
    ViewData["sku"] = Context.Request.Query["sku"];
    ViewData["type"] = Context.Request.Query["type"];
    ViewData["onlyavailable"] = Context.Request.Query["onlyavailable"];
    ViewData["search"] = Context.Request.Query["search"];
    ViewData["incremental"] = 20;

    if(Model.Count < 20)
    {
        ViewData["incremental"] = Model.Count;
    }
}

<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card-w">
                <h6 class="mb-30">Tabella prodotti</h6>
                <table>
                    <tr>

                        <th>Codice prodotto</th>
                        <th>Nome</th>
                        <th>Prezzo listino</th>
                        <th>Confezionamento</th>
                        <th>Disponibilità</th>
                    </tr>
                    <tbody>
                        @if (Model.Count > 0)
                        {

                            @for (var i = 0; i < (int)ViewData["incremental"]; i++)
                            {
                                var product = Model[i];
                                <tr class="single-product">
                                    <td class="v-align-middle">@product.SKU</td>
                                    <td class="v-align-middle">@product.Name</td>

                                    @{
                                        GetPrice priceModel = Utils.getPrice(@product.AS400_ID, "");
                                    }
                                    @{
                                        <td class="v-align-middle">@priceModel.prezzo_c1.ToString() €</td>
                                    }
                                    @{
                                        if (string.IsNullOrEmpty(product.Confezionamento))
                                        {
                                            <td class="v-align-middle">1</td>
                                        }
                                        else
                                        {
                                            <td class="v-align-middle">@product.Confezionamento</td>
                                        }

                                    }
                                    @{
                                        if (priceModel.giacenza != null)
                                        {
                                            if (float.Parse(priceModel.giacenza) == 0)
                                            {
                                                if (priceModel.dtnext == "00000000" || priceModel.leadTime == "0" || int.Parse(priceModel.leadTime) > 15)
                                                {
                                                    <td class="v-align-middle"><p style="color:#d81e1e">Per info chiamare 0816107435</p></td>
                                                }
                                                else
                                                {
                                                    <td class="v-align-middle"><p style="color:#d81e1e">@priceModel.getNextDate()</p></td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="v-align-middle"><p style="color:#52d838">@float.Parse(priceModel.giacenza.Replace('.', ',')).ToString()</p></td>
                                            }
                                        }
                                    }



                                </tr>

                            }


                        }
                        else
                        {
                            <b>Nessun prodotto trovato</b>
                            <script>document.location.href = "/products/search"</script>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @if ((int)ViewData["Page"] > 1)
                    {
                        if (ViewData["onlyavailable"] != null)
                        {
                            <a href="/Products/Result?sku=@(ViewData["sku"])&type=@(ViewData["type"])&startItem=@((int)ViewData["startItem"] - 20)&onlyavailable=1&search=1&p=@((int)ViewData["Page"] - 1)" class="product fullPage back">&laquo;</a>
                        }
                        else
                        {
                            <a href="/Products/Result?sku=@(ViewData["sku"])&type=@(ViewData["type"])&startItem=@((int)ViewData["startItem"] - 20)&p=@((int)ViewData["Page"] - 1)" class="product fullPage back">&laquo;</a>
                        }

                    }
                    <a href="#" class="page">@ViewData["Page"]</a>
                    @if ((int)ViewData["Page"] < Model.Count)
                    {
                        if (ViewData["onlyavailable"] != null)
                        {
                            <a href="/Products/Result?sku=@(ViewData["sku"])&type=@(ViewData["type"])&startItem=@((int)ViewData["startItem"] + 20)&onlyavailable=1&search=1&p=@((int)ViewData["Page"] + 1)" class="product fullPage forward">&raquo;</a>

                        }
                        else
                        {
                            <a href="/Products/Result?sku=@(ViewData["sku"])&type=@(ViewData["type"])&startItem=@((int)ViewData["startItem"] + 20)&p=@((int)ViewData["Page"] + 1)" class="product fullPage forward">&raquo;</a>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
