﻿@model string;
@{
    ViewData["Title"] = "Ricerca prodotti";
}

<div class="row mt-60">
    <div class="col-12">
        <div class="card">
            <div class="body-card">
                <div class="row">
                    <div class="col-6">
                        <label for="type">Ricerca per</label><br />
                        <select id="search-filters" class="form-control">
                            <option value="0">Codice</option>
                            <option value="1">Descrizione</option>
                            <!--<option value="2">Macrocategoria</option>-->
                        </select>
                    </div>
                    <div class="col-6">
                        <label>Campo di ricerca</label>
                        <input type="text" type="text" class="form-control" id="sku" >
                    </div>
                    <div class="col-6">
                        <div class="form-group radio-inline">
                            <input type="radio" name="type_of_search" value="0" class="type_of_search" /> <label>Parola esatta</label>
                            <input type="radio" name="type_of_search" value="1" class="type_of_search" /> <label>Inizia con</label>
                            <input type="radio" name="type_of_search" value="2" class="type_of_search" /> <label>Finisce con</label>
                            <input type="radio" name="type_of_search" value="3" class="type_of_search" /> <label>Contiene</label>
                        </div>
                       
                    </div>
                    <div class="col-12 mt-20">
                        @if (Model != "Modal")
                        {
                            <a class="btn submit" href="/Products/Result" data-target="srcprod">Ricerca</a>
                        }
                        else
                        {
                            <a class="btn submit" href="#" data-target="srcprod" id="search_product_async">Ricerca</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
