﻿@{
    @using Microsoft.AspNetCore.Http;
    ViewData["Title"] = "Home Page";

}

<input type="hidden" id="agentcode" value="@Model.Codice_ACG" />
<input type="hidden" id="agentname" value="@Model.Descrizione" />
<input type="hidden" id="agentcell" value="@Model.Cellulare" />
<input type="hidden" id="agentemail" value="@Model.Email" />


<div class="row mt-80">
    <div class="col-4">
        <a class="category-link" href="/list/crea?type=WPR">
            <i class="fal fa-plus-circle"></i><span>
                Preventivi <strong>
                    Nuovo
                    preventivo
                </strong>
            </span>
        </a>
    </div>
    <div class="col-4">
        <a class="category-link" href="/Anagrafica/"><i class="fal fa-user"></i><span>Anagrafica <strong>Clienti</strong></span></a>
    </div>
    <div class="col-4">
        <a class="category-link" href="/archive/listsearch"><i class="fal fa-cabinet-filing"></i><span>Archivio <strong>Offerta dipartimentale</strong></span></a>
    </div>
    <div class="col-4">
        <a class="category-link" href="#"><i class="fal fa-ballot-check"></i><span>Ordini <strong>Nuovo ordine</strong></span></a>
    </div>
    <div class="col-4">
        <a class="category-link" href="/Archive/SearchOrderClients"><i class="fal fa-users"></i><span>Storico<strong>Ordini clienti</strong></span></a>
    </div>
    <div class="col-4">
        <a class="category-link" href="/preventivi"><i class="fal fa-folder-open"></i><span>Storico<strong>Preventivi</strong></span></a>
    </div>
</div>
